div.yild-poolparty-led {
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
  box-shadow: #000 0 -1px 4px 1px, inset #444 0 -1px 5px, #999 0 2px 5px;
}

div.yild-poolparty-led.led-red {
  background-color: #ff0000;
  box-shadow: #000 0 0px 0px 0px, inset #600 0 0px 5px, #f00 0 0px 5px;
}

div.yild-poolparty-led.led-green {
  background-color: #00ff00;
  box-shadow: #000 0 0px 0px 0px, inset #460 0 0px 5px, #0f0 0 0px 5px;
}
